nav {
  display: inline-block;
  flex-wrap: wrap;
  padding-right: 80px;
  }

  nav span {
    display: inline-block;
    padding: 20px 10px;
  }

.logo {
    padding-left: 30px;
    align-items: center;
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    }

.logo img {
      width: 70px;
      height: 60px;
      margin-right: 12px;
    }

.logo span {
  color: mediumaquamarine;
}

header {
  display: flex;
  align-items: center;
  height: 80 px;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  }

body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

.content {
  display: flex;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  border: 1px solid black;
  padding-right: 30px;
  padding-left: 30px;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
  padding-right: 30px;
}

.column.small {
  width: 240px;
  border: 1px solid black;
  padding-right: 30px;
}

.main.story {
  border: 1px solid black;
}
.phish {
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  text-align: center;
}

.trees {
  border: 1px solid black;
  background image: url ("../images/img-story-2.png");
}
.camera {
  border: 1px solid black;
}
.story {
  border: 1px solid black;
}
.cat {
  border: 1px solid black;
}

.news.bites{
  border: 1px solid black;
}

h1 {
  color: white;
  font-size: 40px;
}
