nav {
  display: inline-block;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-top: 20px;
  }

  nav.span {
    display: inline-block;
    padding-right: 20px;
    }

.logo {
    color: MediumAquamarine;
    padding-left: 30px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-grow: 1;
    }

header {
  display: flex;
  height: 80 px;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  }

.content {
  display: flex;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
